{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "printWidth": 80,
    "proseWrap": "always",
    "useTabs": false,
    "svelteSortOrder": "scripts-markup-styles"
}
